.main-container {
  display: flex;
  flex-direction: column;
}

.game-round-header {
  margin-top: 2vh;
  margin-left: 20vw;
  margin-right: 20vw;

  display: flex;
  justify-content: space-between;
}

.game-round-header-left {
  text-align: left;
}

.game-round-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-timer {
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.round-title {
  font-size: 48px;
  font-weight: bold;
}

.room-code {
  font-size: 32px;
}

.question-outer-container {
  display: flex;
  flex-direction: column;
  margin: 4vh;
  padding: 10px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.question-inner-container {
  background-color: white;
  margin: 5px 40px 20px 40px;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lobby-btn {
  width: 100px;
  position: fixed;
}

.submit-and-finish-btn {
  width: 200px;
  position: fixed;
  margin-top: 1rem !important;
}

.inner-container-row {
  margin-top: 2vh;
}

.question-text {
  text-align: left;
}

.choice-box {
  display: flex;
  flex-direction: column;
}

.topic-label {
  font-size: 24px;
}

.answers-main {
  align-items: center;
}

.answers-container {
  padding: 0 28%;
  overflow: auto;
}
