.main-container {
  display: flex;
  flex-direction: column;
}

.game-round-header {
  margin-top: 2vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-between;
}

.game-round-header-left {
  text-align: left;
}

.game-round-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-timer {
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.round-title {
  font-size: 48px;
  font-weight: bold;
}

.room-code {
  font-size: 32px;
}

.question-text {
  text-align: left;
}

.choice-box {
  display: flex;
  flex-direction: column;
}

.choice-box .choice-item {
  text-align: left;
  margin-left: 5vw;
}

.topic-label {
  font-size: 24px;
}

.choices-list {
  margin: 10px !important;
}

.yes-no-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.yes-no-btn {
  margin: 10px !important;
  width: 100px !important;
}

.lobby-btn {
  width: 100px;
  position: fixed;
}

.choices-list {
  margin: 10px !important;
}

.yes-no-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.yes-no-btn {
  margin: 10px !important;
  width: 100px !important;
}

.question-field {
  width: 100%;
  padding: 5px 10px;
}

.correct-answer-text {
  margin: 0;
  padding: 0 10px;
}
