@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");

.continue-btn {
  margin-top: 1.5rem;
}

.custom-links {
  margin-top: 10px;
}

.forgot-password-link {
  margin-top: 1rem;
}
