@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");

.continue-btn {
  margin-top: 10vh;
}

.custom-links {
  margin-top: 10px;
}

.error-message {
  margin-top: 5px;
  color: red;
}
