@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");

.btn-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vertical-line {
  color: black;
}

/* @media (max-width: 375px) and (max-height: 667px) {
  .header-container {
    border: none;
  }

  .page-title {
    font-size: 48px;
  }

  .header {
    font-size: 72px;
  }
} */
